* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-image: url("../media/rectangle.png");
    display: flex;
    color: white;
    padding: 0 405px;
    padding-top: 122px;
    padding-bottom: 140px;
}

.main .contacts h1 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 48px;
}

.main .contacts p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.message-form form {
    display: flex;
    flex-direction: column;
}

.message-form form .name-inputs {
    display: flex;
    margin-bottom: 35px;
}

.message-form form .name-inputs input {
    padding-bottom: 15px;
}

.message-form form .name-inputs>div:not(:last-child) {
    margin-right: 30px;
}

.message-form form p {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.message-form form input {
    background-color: transparent;
    border: none;
}

.message-form form textarea {
    background-color: transparent;
    border: none;
}

.message-form form input:focus-visible {
    outline: none;
}

.message-form form textarea:focus-visible {
    outline: none;
}

